/* element selector */
body {
    background-color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* media query : responsive web design */
/* tablet : layout yang ditampilkan 2 kolom */
@media screen and (min-width: 600px){
    body {
        background-color: chartreuse;
    }

    .col {
        width: 25%;
        float: left;
    }

    .col-sm-6 {
        width: 50%;
        float: left;
    }

    .col-sm-12 {
        width: 100%;
        float: left;
    }

    .col-lg-5 {
        width: 33.33%;
        float: left;
    }
}
/* desktop : layout yang ditampilkan 4 kolom */
@media screen and (min-width: 992px) {
    body {
        background-color: green;
    }

    .col-lg-3 {
        width: 25%;
        float: left;
    }
    .col-lg-6 {
        width: 50%;
        float: left;
    }
    .col-lg-4 {
        width: 33.33%;
        float: left;
    }
    

/* class selector */
.text-primary {
    color: #000000;
}
.col {
    width: 25%;
    float: left;
}

.col-50 {
    width: 50%;
    float: left;
}

.img-responsive {
    border-radius: 300px;
    width: 100%;
}

* {
    box-sizing: border-box;
}
/* element selector*/
body {
    background-color: rgb(209, 47, 47);
    font-family: calibri;
}

.p-1 {
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.circle {
    border-radius: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

}